/**
 * GOOGLE FONTS START
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* GOOGLE FONTS END */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	/* font-family: "Poppins", sans-serif; */
	/* background-color: #25262a; */
	overflow-x: hidden;
	padding: 8px;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0px;
}

a {
	display: inline-block;
	text-decoration: none !important;
	color: #000;
}

img {
	width: 100%;
	height: auto;
}

ul {
	padding: unset;
}

li {
	list-style-type: none;
}
:root {
	--blue-color: #005596;
	--black: #000;
	--white: #fff;
	--gray: #7c7c76;
	--text-color: rgba(10, 10, 11, 0.59);
}
.container {
	width: 100%;
	margin: 0 auto;
}
/* HEADER CSS START */
header {
	position: absolute;
    top: 14px;
    left: 50%;
    width: 98.6%;
    transform: translateX(-50%);
}
header .header-outer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	border-radius: 8px;
	padding: 5px 7px;
}
header .header-outer .header-nav {
}
header .header-outer .header-nav ul {
	display: flex;
	gap: 29px;
}
header .header-outer .header-nav li {
}
header .header-outer .header-nav li a {
	font-family: "Plus Jakarta Sans", serif;
	font-size: 14;
	font-weight: 600;
	line-height: 16.8px;
	color: var(--black);
	background: transparent;
	padding: 8px 9px;
	text-transform: uppercase;
	transition: all 0.4s ease;
	border-radius: 8px;
}
header .header-outer .header-nav li a:hover,
header .header-outer .header-btn a:hover {
	font-family: "Plus Jakarta Sans", serif;
	color: var(--white);
	background: var(--blue-color);
	transition: all 0.4s ease;
}
header .header-outer .header-logo {
	width: 100%;
	max-width: 370px;
}
header .header-outer .header-logo a img {
	width: 100%;
	max-width: 138px;
}
header .header-outer .header-btn {
}
header .header-outer .header-btn a {
	font-family: "Plus Jakarta Sans", serif;
	font-size: 14;
	font-weight: 600;
	line-height: 16.8px;
	color: var(--black);
	background: transparent;
	padding: 8px 9px;
	text-transform: uppercase;
	transition: all 0.4s ease;
	border-radius: 8px;
}
/* HEADER CSS END */

/* BANNER CSS START */
section.banner {
	display: flex;
	align-items: end;
}
section.banner .banner-outer {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 12px;
	padding: 0 13.06px;
	height: 836px;
}
section.banner .banner-heading h1 {
	font-family: "Alexandria", serif;
	font-size: 102px;
	font-weight: 600;
	line-height: 94.86px;
	letter-spacing: -0.07em;
	color: var(--white);
	text-transform: uppercase;
	width: 100%;
	max-width: 580px;
}
section.banner .banner-outer .banner-services {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	max-width: 814px;
	gap: 12px;
	margin-bottom: 14px;
}
section.banner .banner-outer .banner-services .service-box {
	display: flex;
	align-items: flex-start;
	width: 100%;
	max-width: 401px;
	gap: 12px;
	background-color: var(--gray);
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 4px;
}
section.banner .banner-outer .banner-services .service-box .img {
	width: 100%;
	max-width: 144px;
}
section.banner .banner-outer .banner-services .service-info {
	width: 100%;
	max-width: 237px;
}
section.banner .banner-outer .banner-services .service-info h5 {
	font-family: "Open Sans", serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 25.74px;
	color: var(--white);
	text-transform: uppercase;
}
section.banner .banner-outer .banner-services .service-info p {
	font-family: "Open Sans", serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.04px;
	color: var(--white);
}
section.banner .banner-outer .banner-services .service-box .service-angle {
	text-align: end;
}
section.banner .banner-outer .banner-services .service-box .service-angle a {
	background: #fff;
	padding: 10px 9px;
	border-radius: 8px;
}
section.banner .banner-outer .banner-services .service-box .service-angle a i {
	font-size: 15px;
	color: var(--blue-color);
}
.service-angle {
	text-align: end;
}
/* BANNER CSS END */

/* WHO WE ARE CSS START */
section.company-info {
	padding: 100px 13.06px 50px;
	display: flex;
	column-gap: 48px;
	align-items: flex-start;
}
section.company-info .who-we-outer {
	width: 100%;
	max-width: 36%;
	display: flex;
	flex-direction: column;
	gap: 22px;
}
section.company-info .who-we-outer h2 {
	font-family: "Alexandria", serif;
	font-size: 108px;
	font-weight: 600;
	line-height: 110px;
	letter-spacing: -0.07em;
	color: var(--black);
	text-transform: uppercase;
}
section.company-info .who-we-outer h2 span {
	color: var(--blue-color);
}
section.company-info .about-company {
	width: 100%;
	max-width: 62%;
}
section.company-info .about-company p {
	font-family: "Poppins", serif;
	font-size: 26px;
	font-weight: 400;
	line-height: 57px;
	color: var(--text-color);
}
/* WHO WE ARE CSS END */

/* SLIDER CSS START */
section.jak-slides {
	padding: 96px 0;
	/* overflow: hidden; */
}
section.jak-slides .jak-slider .jak-inner {
	width: 100%;
	border-radius: 13px;
	overflow: hidden;
}
section.jak-slides .jak-slider .slick-slide {
	margin: 0 14px;
}
section.jak-slides .jak-slider .jak-inner img {
	aspect-ratio: 2 / 3;
	object-fit: cover;
}
/* SLIDER CSS END */

/* OUE SRVICE CSS START */
section.our-services {
	padding: 0 25.5px 56px;
}
section.our-services h2 {
    font-family: "Alexandria", serif;
    font-size: 108px;
    font-weight: 600;
    line-height: 98px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 48px;
}
section.our-services h2 span {
	color: var(--blue-color);
}
section.our-services .service-outerwrap {
	display: flex;
	justify-content: space-between;
}
section.our-services .service-outerwrap .service-box {
	width: 100%;
	max-width: 32%;
	padding: 16px;
	background: var(--white);
	border-radius: 12px;
	/* border-top: 1px solid rgba(7, 142, 244, 0.45); */
	position: relative;
	box-shadow: 0px -2px 9px -5px rgba(0,85,150,1);
-webkit-box-shadow: 0px -2px 9px -5px rgba(0,85,150,1);
-moz-box-shadow: 0px -2px 9px -5px rgba(0,85,150,1);

}
section.our-services .service-outerwrap .service-box:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    background: var(--blue-color);
    left: 0px;
    border-radius: 12px;
    bottom: -5px;
    z-index: -1;
}
section.our-services .service-outerwrap .service-box img {
	width: 100%;
}
section.our-services .service-outerwrap .service-box h3 {
	font-family: "Open Sans", serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 31.46px;
	color: var(--blue-color);
	margin-bottom: 16px;
}
section.our-services .service-outerwrap .service-box p {
	font-family: "Open Sans", serif;
	font-size: 16x;
	font-weight: 400;
	line-height: 24.96px;
	color: var(--text-color);
}
/* OUE SRVICE CSS END */

/* EXPLORE CSS START */
section.explore {
	padding: 0 0 56px;
}
section.explore .explore-outer{
	display: flex;
	justify-content: space-between;
}
section.explore .explore-outer .explore-img img {
	border-radius: 12px;
}
section.explore .explore-outer .explore-img  {
	width: 100%;
    max-width: 66%;
    border-radius: 12px;
	position: relative;
}
section.explore .explore-outer .explore-img:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    background: var(--blue-color);
    left: 0px;
    border-radius: 22px;
    bottom: -5px;
    z-index: -1;
}
section.explore .explore-outer .explore-data {
    width: 100%;
    max-width: 32%;
    background-color: var(--blue-color);
    border-radius: 12px;
    padding: 12px 19px;
}
section.explore .explore-outer .explore-data h3 {
	font-family: "Alexandria", serif;
	font-size: 46px;
	font-weight: 600;
	line-height: 55.2px;
	color: var(--white);
	margin-bottom: 28px;
}
section.explore .explore-outer .explore-data p {
	font-family: "Poppins", serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 33px;
	color: var(--white);
	margin-bottom: 217px;
}
section.explore .explore-outer .explore-data .explore-btn {
	display: flex;
	flex-direction: column;
	gap:12px;
}
section.explore .explore-outer .explore-data .explore-btn a {
	font-family: "Alexandria", serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 33.6px;
	color: var(--blue-color);
	background-color: var(--white);
	border-radius: 12px;
	padding: 11px;
	text-align: center;
}
/* EXPLORE CSS END */